{% extends "base.html" %}

{% block main %}
{% include 'question.html' with question=question %}

<br><br>

{% for ans in answers.all %}
	<div class="row">
	<div class="span2">
		<img src="/uploads/{{ ans.author.user_data.avatar.name }}" class="img-polaroid">
		<div class="btn-group like" style="margin-left:5px">
			<button type="button" class="btn btn-default">
				<i class="icon-thumbs-up"></i>
			</button>
			<button type="button" class="btn btn-default">
				<i class="icon-thumbs-down"></i>
			</button>
		</div>
		<span class="label label-success" style="color:#22ff22">{{ ans.rating }}</span>
	</div> 
	<div class="span7">
		<div class="row">
			<div class="span3">
				<a href="#">{{ ans.author.username }}
					    {%if user.is_authenticated %}
					    {%if user == ans.author%}
					    (you)
					    {%endif%}
					    {%endif%}</a>
			</div>
			<div class="span4">
				<a href="#">{{ ans.creation_date }}</a>
			</div>
		</div>
		<br>
		<p>{{ ans.content }}</p>
	</div>
</div>

{% endfor %}
<br>

{% if user.is_authenticated %}
<a href="/answer/{{question.id}}" class="btn span2">Answer!</a>
{%endif%}

{% endblock %}
